# Repositories nicht im GIT ablegen
repositories/*
!repositories/.gitkeep

# Konfigurationsdateien mit echten Zugangsdaten – niemals ins Repo!
*.cfg
*.env

# Aber Beispieldateien sind erlaubt
!*.cfg.example
!*.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Logs
*.log

# Temporaere Dateien
*.tmp
.DS_Store