[Unit]
Description=Taeglicher OPNsense Backup Timer

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
